.divide {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -100;
    /* margin-bottom: 4em; */
}

#cardList {
    font-family: 'Hachi Maru Pop', cursive;
}