@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Hachi+Maru+Pop&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(97,9,121,1) 27%, rgba(0,212,255,1) 100%);
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Hachi Maru Pop', cursive;
  color: #fff;

}

h1 {
  color: #fff;
}

